{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend >
                    New Post
                </legend>
                {{ form| crispy }}
            </fieldset>
            <div class="border-bottom">
                <button type="submit" class="btn btn-outline-info">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}