{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" align="center">
        <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle p-3", width="230", height="230">
        <h2 class="bg-light font-weight-light">{{user.username}}</h2>
        {% if user.email %}
            <p class="mb-4 bg-light text-secondary">{{ user.email }}</p>
        {% endif %}
    </div>
    <div class="container mt-3 mb-5" style="width:600px">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend class="p-3 mb-3 bg-light text-secondary border" style="user-select:none;">Update Profile</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="border-bottom">
                <button type="submit" class="btn btn-outline-info">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}