{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section shadow-lg p-3 mb-5 bg-white rounded" align="center">
        <img src="{{ user.profile.image.url }}"
             alt=""
             class="rounded-circle p-3 user-select-none"
             width="230"
             height="230">
        <h2 class="bg-light mb-4 text-monospace">{{user.username}}</h2>
        
        {% if user.email %}
            <p class="mb-1 bg-light text-secondary">
                <span class="user-select-none">E-mail:</span>
                <div class="container shadow-sm p-2 mb-2 text-secondary" style="width:20em !important">
                    {{ user.email }}
                </div>
            </p>
        {% endif %}

        {% if user.profile.bio %}
            <p class="mb-1 bg-light text-secondary"><span class="user-select-none">Bio:</span>
                <div class="container shadow-sm p-2 mb-4 text-secondary" style="width:20em !important">
                    {{ user.profile.bio }}
                </div>
            </p>
        {% endif %}
        {% if user.profile.instagram_url %}
        <p class="mb-4 bg-light text-secondary user-select-none">
            <a href="{{ user.profile.instagram_url }}" style="text-decoration: none;">
                <img src="https://www.flaticon.com/svg/static/icons/svg/174/174855.svg"
                alt="Instagram"
                width=20px
                height=20px>
            </a>
            &nbsp;
        {% endif %}
        {% if user.profile.fb_url %}
            <a href="{{ user.profile.fb_url }}" style="text-decoration: none;">
                <img src="https://www.flaticon.com/svg/static/icons/svg/174/174848.svg"
                alt="Facebook"
                width=20px
                height=20px>
            </a>
            &nbsp;
        {% endif %}
        {% if user.profile.linkedin_url %}
            <a href="{{ user.profile.linkedin_url }}" style="text-decoration: none;">
                <img src="https://www.flaticon.com/premium-icon/icons/svg/3256/3256016.svg"
                alt="LinkedIn"
                width=20px
                height=20px>
            </a>
            &nbsp;
        {% endif %}
        {% if user.profile.website_url %}
            <a href="{{ user.profile.website_url }}" style="text-decoration: none;">
                <img src="https://www.flaticon.com/svg/static/icons/svg/718/718150.svg"
                alt="Website"
                width=20px
                height=20px>
            </a>
        </p>
        {% endif %}
    </div>
{% endblock content %}